@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Inria+Serif:regular,bold,italic&subset=latin,latin-ext');
    
body{
    background-color: #242424;
    color: white;
    font-family: Infra;
}

#topbar{
    background-image: url('./images/background.webp');
}

#bottombar{
    background-image: url('./images/background.webp');
}